/* Main styles */

.inline {
	display: inline-block;
}

.panel-heading {
	font-weight: bold;
}

.fit {
	white-space: nowrap;
	width: 1%;
}

div.spaced {
	margin-bottom: 2em;
}

tbody.spaced:after {
	content: '';
	display: table-row;
	height: 20px;
}

/* Assorted text colors, useful for glyphicons */
.fg-new, .fg-info, .fg-pending, .fg-ok, .fg-stalled, .fg-warn, .fg-err {
	text-shadow: 0 0 1px #888;
}
.fg-new {
	color: #ffee00;
}
.fg-info, .fg-pending {
	color: #80f;
}
.fg-ok {
	color: #00aa00;
}
.fg-warn, .fg-stalled {
	color: #ff8800;
}
.fg-err {
	color: #cc0000;
}

.input-like {
	height: auto !important;
}

.fileupload-multiple {
	margin-bottom: 3px;
}

.log-content {
	padding-left: 10px;
	padding-right: 20px;
	margin-left: 20px;
	color: #666;
	font-size: 90%;
	border-left: 3px solid #888;
}

/* Large sizes */
.grow-2x { font-size: 2em; }
.grow-3x { font-size: 3em; }
.grow-4x { font-size: 4em; }
.grow-5x { font-size: 5em; }

/* Hide-away boxes (brought back by JS) */
.hideaway {
	position: fixed;
	left: -100%;
}

/* Selectize for users */
.name_email_label {
}
.name_email_label .name {
	color: #000;
}
.name_email_label .email {
	color: #888;
	display: block;
}
.name_email_tag {
}
.name_email_tag .name {
	color: #000;
}
.name_email_tag .email {
	color: #888;
}
.name_email_tag .email:before {
	content: ' <';
}
.name_email_tag .email:after {
	content: '>';
}
